@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');
body{

    background-color: #f5f5f5;
    font-family: 'Exo', sans-serif;
    font-size: 20px;
  
}
.content{
    width: 1200px;
    margin: 0 auto;
    
}
header img,
header nav{

    float: left;
 
}
nav ul li{

    display: inline-block;
    padding: 50px;
 

}
.social{
    padding: 40px;
    float: right;
}

nav ul li a {

    color: #161515;
    text-decoration: none;
}
nav ul li a:hover {

    color: #2c2929;
    text-decoration: underline;
    text-align: center;
}

.hover, a{
transition: 0.3;
opacity: 1;

}
.hover:hover{

transition: 0.3;
margin: 0.5;

    }

.texto{

width: 41%;

display: inline-block;

float: left;

text-align: justify;

padding-right: 25px;

line-height: 30px;

font-size: 25px;
}
.sobre h2{
font-weight: 900;
text-align: center;
font-size: 25px;
}


.sobre img{

padding: 10px;

width: 40%;

display: inline-block;
}
.servicos{
    
    background: #b5b8b48c;
    padding: 70px;
    margin: 50px;
    margin-top: 50px;
}
.servico{

display: inline-block;
width: 31%;
margin: 1%;

}
.servico img{

border: 2px solid #202020;
width: 100%;


}
.titulo,.servicos h2{

    color: #000000;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
}
.servicos h2{

font-size: 40px;
margin-bottom: 20px;
}
.depoimentos h2{

    color: #000;

}
.item{

display: inline-block;
width: 31%;
padding: 1%;
text-align: center;
font-weight: 900;

}
.item img{

width: 100px;
float: left;
margin-right: 15px;

}
.item .cliente{

    padding-top: 45px;
    margin-left: 10px;

}
.item p{

margin-bottom: 20px;
line-height:  30px ;



}
.depoimentos{

    margin: 70px;


}
footer{

background-color: #353333;
color: #fffdfd;
padding: 50px;


}
.item h2{

font-size: 40px;
text-align: center;
margin-bottom: 20px;

}
footer input, footer textarea{

width: 250px;

height: 44px;

background: none;

border: none;

border-bottom: 2px solid #fff;

font-size: 20px;

color: #ffff;
}
footer input[type="submit"]{

border: 2px solid #f5f5f5;
margin-top: 20px;

}
footer ul li a {

color: #fff;
text-decoration: none;

}
footer ul li{

text-align: center;

padding: 17px;

font-size: 20px;
}
.social ul li a{

color: #f5f2f2;

}
.social ul li {

    background-color: #000000;
    padding: 5px 10px;
    margin: 5px;
}
header{

height: 165px;

}
.banner img {
    width: 100%;
}
.img1 ,.img2{

height: 250px;
}
.imgsobre{

text-align: center;
background: #e4f8e4;


}
.sobre{

text-align: justify;

}
.sidebar{

    width: 165px;
    font-size: 40px;
    border-left: 5px solid #9df395;
    line-height: 40px;
    font-weight: bold;
    padding: 0 38px;
    float: left;
    clear: both ;

}
.info{

    width: 950px;
    display: inline-block;
    text-align: justify;

}
.bgheader{

/*background-image: url(../img/h1sobre.png)50% -112px/ cover no-repeat fixed;*/
height:200px;
margin:20px;
background-repeat:no-repeat;
width:100%;
position:relative;


}
.bgheader{

background-image: url(../img/h1sobre.png);
background-size: cover;
background-repeat: no-repeat;
height: 200px;
margin: 20px;



}